<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 底部固定区域 -->
<head th:fragment="head">
    <th:block
            th:with='basePath=${#httpServletRequest.getScheme()+"://"+#httpServletRequest.getServerName()+":"+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+"/"}'>
        <title>系统名称</title>
        <meta value="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" media="all"/>
        <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
        <script type="text/javascript">
            var basePath = '${basePath}';
        </script>
    </th:block>
</head>
<body>
<th:block th:fragment="foot">
    <div class="layui-footer">
        © <a href="https://NewGr8Player.github.io">NewGr8Player.github.io</a> - 版权信息
    </div>
</th:block>
</body>
<th:block th:fragment="redirct-login">
    <script type="text/javascript">
        layui.use(['jquery'], function () {
            var $ = layui.jquery;
            var rootPath = '[[${#httpServletRequest.getScheme()+"://"+#httpServletRequest.getServerName()+":"+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+"/login"}]]';
            console.log(rootPath);
            $(function () {
                setTimeout(function () {
                    window.location.href = rootPath;
                }, 2000);
            });
        });
    </script>
</th:block>
</html>