<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <th:block th:with='basePath=${#httpServletRequest.getScheme()+"://"+#httpServletRequest.getServerName()+":"+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+"/"}'>
        <meta value="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" media="all"/>
        <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
        <script type="text/javascript">
            var basePath = '${basePath}';
        </script>
    </th:block>
</head>
<body>

</body>
</html>