<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/base::head"></th:block>
    <script type="text/javascript" th:src="@{/static/script/index.js}"></script>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- Top Menu -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="弹出/收缩">
                        <i id="LAY_app_flexible" class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a th:href="${FRONT_SITE_URL}" target="_blank" title="前台">
                        <i id="frontPage" class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i id="refresh" class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                           layadmin-event="serach" lay-action="template/search.html?keywords=">
                </li>
                -->
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="javascript:;" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>
                        <!--<span class="layui-badge-dot"></span>-->
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${currentUser.nickname}"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="userInfo">基本资料</a></dd>
                        <dd><a id="editPasswd">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- Side Menu -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/index">
                    <span th:text="${SYSTEM_SHORT_NAME}"></span>
                </div>
                <ul id="LAY-system-side-menu" class="layui-nav layui-nav-tree" lay-shrink="all"
                    lay-filter="layadmin-system-side-menu">
                </ul>
            </div>
        </div>
        <!-- Tool bar -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd id="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd id="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd id="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul id="LAY_app_tabsheader" class="layui-tab-title">
                    <li lay-id="default" link="" class="">
                        <i class="layui-icon layui-icon-home"></i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Main Content -->
        <div id="LAY_app_body" class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe id="mainContent" src="/default" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- Mobil shade -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
</body>
</html>