<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common/base::head"></th:block>
    <script type="text/javascript" th:src="@{/static/script/login.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
</head>
<body>
<div class="login-main">
    <input id="message" type="hidden" th:value="${message}">
    <header class="layui-elip">系统登录</header>
    <form id="loginForm" class="layui-form" th:action="@{/login}" th:method="post">
        <div class="layui-input-inline">
            <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="login" class="layui-btn layui-btn-normal">登录</button>
        </div>
        <hr/>
        <div class="layui-input-inline">
            <i id="qqLogin" class="layui-icon layui-icon-login-qq" style="font-size: 30px; color: #1E9FFF;"></i>
            <i id="wechatLogin" class="layui-icon layui-icon-login-wechat" style="font-size: 30px; color: #00FF00;"></i>
        </div>
        <p>
            <a th:href="register.html" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a>
        </p>
    </form>
</div>
</body>
</html>